 OCM_TOKEN={{OCM_TOKEN}}
 RHOAS_QUAY_USER=rhoas+deployer
 RHOAS_QUAY_TOKEN={{RHOAS_QUAY_TOKEN}}
 BF2_QUAY_USER=osd-addons+readonly
 BF2_QUAY_TOKEN={{BF2_QUAY_TOKEN}}
 BF2_BOT_TOKEN={{BF2_BOT_TOKEN}}
 REDHAT_SSO_CLIENT_ID={{REDHAT_SSO_CLIENT_ID}}
 REDHAT_SSO_CLIENT_SECRET={{REDHAT_SSO_CLIENT_SECRET}}
 USER=ci
 AWS_ACCESS_KEY_ID={{AWS_ACCESS_KEY_ID}}
 AWS_ACCOUNT_ID={{AWS_ACCOUNT_ID}}
 AWS_SECRET_ACCESS_KEY={{AWS_SECRET_ACCESS_KEY}}

 NUMBER_OF_KAFKA_INSTANCES={{NUMBER_OF_KAFKA_INSTANCES}}
 KAFKA_INSTANCE_NAME=instance
 KAFKA_WORKER_COUNT={{KAFKA_WORKER_COUNT}}
 KAFKA_MACHINE_TYPE={{KAFKA_MACHINE_TYPE}}
 KAFKA_CLUSTER_REGION=us-east-2
 KAFKA_MULTI_AZ=true

 KAFKA_CAPACITY_INGRESS_THROUGHPUT={{KAFKA_CAPACITY_INGRESS_THROUGHPUT}}
 KAFKA_CAPACITY_EGRESS_THROUGHPUT={{KAFKA_CAPACITY_EGRESS_THROUGHPUT}}
 KAFKA_CAPACITY_TOTAL_MAX_CONNECTIONS={{KAFKA_CAPACITY_TOTAL_MAX_CONNECTIONS}}
 KAFKA_CAPACITY_MAX_DATA_RETENTION_SIZE={{KAFKA_CAPACITY_MAX_DATA_RETENTION_SIZE}}
 KAFKA_CAPACITY_MAX_PARTITIONS={{KAFKA_CAPACITY_MAX_PARTITIONS}}
 KAFKA_CAPACITY_MAX_DATA_RETENTION_PERIOD={{KAFKA_CAPACITY_MAX_DATA_RETENTION_PERIOD}}
 KAFKA_CAPACITY_MAX_CONNECTION_ATTEMPTS_PER_SEC={{KAFKA_CAPACITY_MAX_CONNECTION_ATTEMPTS_PER_SEC}}

 OMB_MACHINE_TYPE={{OMB_MACHINE_TYPE}}
 OMB_REGION=us-east-2
 OMB_TEST_DURATION={{OMB_TEST_DURATION}}
 TARGET_RATE={{TARGET_RATE}}
 WORKERS_PER_INSTANCE={{WORKERS_PER_INSTANCE}}
 TOPICS_PER_KAFKA={{TOPICS_PER_KAFKA}}
 PRODUCERS_PER_TOPIC={{PRODUCERS_PER_TOPIC}}
 PAYLOAD_FILE_SIZE={{PAYLOAD_FILE_SIZE}}
 PARTITIONS_PER_TOPIC={{PARTITIONS_PER_TOPIC}}
 SUBSCRIPTIONS_PER_TOPIC={{SUBSCRIPTIONS_PER_TOPIC}}
 CONSUMER_PER_SUBSCRIPTION={{CONSUMER_PER_SUBSCRIPTION}}

 NUMBER_OF_KAFKA_INSTANCES={{NUMBER_OF_KAFKA_INSTANCES}}
 KAFKA_INSTANCE_NAME=instance
 USER=ci
 SSO_PROVIDER_TYPE=redhat_sso
 SKIP_SSO=y
 MAS_SSO_BASE_URL=sso.stage.redhat.com

 KAS_INSTALLER_TAG={{KAS_INSTALLER_TAG}}
 KAS_FLEET_MANAGER_PARAM_GEN_SCRIPT_CUSTOM_FULL_PATH=/opt/tools/scripts/kas_fleet_manager_params.sh
 MK_CI_TOOLS_PATH=/opt/tools
 MK_CI_TOOLS_SCRIPT_PATH=/opt/tools/scripts
 MK_CI_TOOLS_PATH=/opt/tools
 KAS_INSTALLER_PATH=/opt/tools/kas-installer

 CLOUD_PLATFORM=AWS
 CLOUD_PROVIDER=aws
 CLOUD_USER={{CLOUD_USER}}
 CLOUD_INVENTORY="terraform-inventory"

 COMPUTE_MACHINE_TYPE={{COMPUTE_MACHINE_TYPE}}
 KAFKA_MACHINE_TYPE={{KAFKA_MACHINE_TYPE}}
 WORKER_COUNT_MIN={{WORKER_COUNT_MIN}}
 WORKER_COUNT_MAX={{WORKER_COUNT_MAX}}
 KAFKA_MIN_WORKER_COUNT={{KAFKA_MIN_WORKER_COUNT}}
 KAFKA_MAX_WORKER_COUNT={{KAFKA_MAX_WORKER_COUNT}}
 OPENSHIFT_VERSION={{OPENSHIFT_VERSION}}
 DEPROVISION_CLUSTER=false
 ALLOW_EXISTING_CLUSTER=false
